@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family  */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  @apply scrollbar-thin scrollbar-thumb-primary  scrollbar-track-base-100;
}

.nav-font {
  font-family: Noto Sans, sans-serif;
}

/* linear gradient  */
.btn-linear {
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0) / 200%;
  color: #fff;
}

.color-linear {
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0) / 200%;
}

/* pseudo element  */
.cover-home:after {
  background: url(./assets/shadow-left.svg) no-repeat 100% 100%;
  height: 800px;
  width: 500px;
  left: 0;
  top: 0;
  content: "";
  z-index: 1;
  position: absolute;
}
